<main class="content">
  <form action="/portal" method="POST">

    <fieldset class="form-info">
      <h2 class="form-info__title">User Settings</h2>

      <div class="form-field">
        <div class="input-field">
          <label class="label" for="name">Full name</label>
          <input class="input" id="name" type="text" value="<%= @current_user[:name] %>" placeholder="John Smith" />
        </div>

        <div class="input-field">
          <label class="label" for="password">New password</label>
          <input class="input" id="password" type="password" />
        </div>

        <div class="input-field">
          <label class="label" for="email">Email address</label>
          <input class="input" id="email" type="email" name="email" readonly value="<%= @current_user[:email] %>">
        </div>

        <div class="input-field">
          <label class="label" for="confirm_password">Confirm new password</label>
          <input class="input" id="confirm_password" type="password" />
        </div>
      </div>
    </fieldset>

    <fieldset class="form-info">
      <h2 class="form-info__title">Admin Settings</h2>
          <div class="input-field">
            <label class="label">Single Sign-On</label>

            <input hidden class="hidden-field" id="organization" name="organization" type="text" readonly value="<%= @organization.id %>">

            <button class="button-sso" type="submit">Configure SSO</button>
          </div>
        </div>
    </fieldset>
  </form>
</main>

