<!doctype html>
<html>
  <head>
    <title>WorkOS.js Demo</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
  </head>
  
  <body>
    <aside class="sidebar">
      <nav class="navigation">
        <ul>
          <li class="channel"><span class="channel-item channel-item--dark" /></li>
          <li class="channel"><span class="channel-item channel-item--light" /></li>
          <li class="channel"><span class="channel-item channel-item--default" /></li>
          <li class="channel"><span class="channel-item channel-item--lighter" /></li>
          <li class="channel"><span class="channel-item channel-item--dark" /></li>
          <li class="channel"><span class="channel-item channel-item--default" /></li>
          <li class="channel"><span class="channel-item channel-item--lighter" /></li>
        </ul>
      </nav>

      <div class="sidebar-menu">
        <header class="sidebar-header">
          <h1 class="sidebar-header__title">Cloud App</h1>

          <svg width="16" height="4" viewBox="0 0 16 4" fill="none">
            <circle cx="8" cy="2" r="2" fill="#373737"/>
            <circle cx="14" cy="2" r="2" fill="#373737"/>
            <circle cx="2" cy="2" r="2" fill="#373737"/>
          </svg>

        </header>

        <div class="menu"></div>

        <ul class="list">
          <li class="item" />
          <li class="item" />
          <li class="item" />
          <li class="item" />
        </ul>
      </div>
    </aside>
    
    <%= yield %>

    <script type="text/javascript" src="https://js.workos.com/v1-beta"></script>
  </body>
</html>
