* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #373737;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: grid;
  grid-template-columns: 315px auto;
}

.sidebar {
  display: grid;
  grid-template-columns: 75px 240px;
  height: 100vh;
}

.navigation {
  margin-top: 48px;
}

.sidebar-menu {
  background-color: #f6f4f4;
}

.sidebar-header {
  padding: 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.menu {
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  height: 40px;
  width: calc(100% - 24px);
  margin-left: 12px;
}

.list {
  margin-top: 48px;
}

.item {
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 44px;
}

.channel {
  padding-left: 6px;
  padding-right: 12px;
  margin-bottom: 12px;
  border-left: 6px solid transparent;
}

.channel--active {
  border-color: #373737;
}

.channel-item {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.channel-item--dark {
  background-color: #616165;
}

.channel-item--light {
  background-color: #c4c4c4;
}

.channel-item--default {
  background-color: #929292;
}

.channel-item--lighter {
  background-color: #dcdcdc;
}

.content {
  padding: 72px 40px;
}

.form-info {
  margin-bottom: 72px;
  border: none;
}

.form-info__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}

.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 20px;
}

.label {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 8px;
}

.input {
  font-size: 15px;
  line-height: 18px;
  border-radius: 4px;
  border: 1px solid #e6e4e4;
  padding: 8px;
  width: 100%;
  display: block;
}

.workos-container {
  display: block;
}
